.pokemon-datails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 40%;
  margin: auto;
  border: 1px gray solid;
  border-radius: 10px;
}